<!DOCTYPE HTML>
<html>

<head>

	<title>J1 2022 Practice</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style>
		.formfield {
			margin-bottom: 10px;
		}
		.calculate{
			border: 1px solid black;
			border-radius: 6px;
			padding: 10px;
			width: 200px;
		}
		#result{
			margin-top: 20px;
		}
	</style>
</head>

<body>
	<p>Cupcake Party <a href="https://www.cemc.uwaterloo.ca/contests/computing/past_ccc_contests/2022/index.html">from the J1 problem hosted
			by the CCC.</a></p>
	<div id="app">
		<div class="formfield">
			<label>Regular Boxes: <label> <input v-model="cupcakes_in_regular_box">
		</div>
		<div class="formfield">
			<label>Small Boxes: <label> <input v-model="cupcakes_in_small_box">
		</div>
		<div id="result">
			<div class="calculate"><label>Calculate Leftover Cupcakes  : </label><input type="checkbox" v-model="are_cupcake_details_entered"></div>
			<div v-if="are_cupcake_details_entered">Total Cupcakes: {{total_cupcakes}}</div>
			<div v-if="are_cupcake_details_entered">Total students: {{total_students}}</div>
			<div v-if="are_cupcake_details_entered">
				<div v-if="leftover_cupcakes > 0">Leftover Cupcakes: {{leftover_cupcakes}}</div>
				<div v-else-if="leftover_cupcakes < 0">We are short of {{Math.abs(leftover_cupcakes)}} cupcakes!</div>
				<div v-else>No cupcakes are left</div>
			</div>
		</div>
	</div>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				are_cupcake_details_entered: false,
				total_students: 28,
				cupcakes_in_small_box: 0,
				cupcakes_in_regular_box: 0,
				capacity_in_small_box: 3,
				capacity_in_regular_box: 8,
			},
			computed: {
				total_cupcakes: function () {
					return (this.capacity_in_small_box * this.cupcakes_in_small_box) +
						(this.capacity_in_regular_box * this.cupcakes_in_regular_box);
				},
				leftover_cupcakes: function () {

					return this.total_cupcakes - this.total_students;
				}
			}
		});

	</script>
</body>

</html>